[Desktop Entry]
Type=Application
Name=Conky-ring-stop
Exec=/opt/scripts/conky-ring-stop.sh
StartupNotify=false
Terminal=false
Icon=/usr/share/pixmaps/syslinuxos-ring-conky-stop.png
Categories=System;Monitor;
