[Desktop Entry]
Type=Application
Name=Conky-ring-start
Exec=/opt/scripts/conky-ring-start.sh
StartupNotify=false
Terminal=false
Icon=/usr/share/pixmaps/syslinuxos-ring-conky-start.png
Categories=System;Monitor;
